{% extends "base.html" %}
{% block content %}
<div class="Container">
{% for post in object_list %}
<div class="post jumbotron container centerstage">
  <h1><a href="{% url 'post_detail' pk=post.id %}">{{post.title}}</a></h1>
  <p><h2>{{post.text|truncatechars:200}}</h2></p>
  <h3 class="author">by {{post.author}} on {{post.create_date|date:'d D,M Y'}}</h3>
  <p>Total Comments:- {{ post.approved_comments.count }}</p>
</div>
{% endfor %}
</div>
<style media="screen">
.author{
  color:rgba(255, 0, 0, 0.571);
}
body{
  background-image: url("https://cdn.hipwallpaper.com/i/49/60/5sY7Nz.jpg");
}
</style>
{% endblock %}
